@{
    ViewBag.Title = "XacNhanDon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Đơn hàng của quý khách đã được xác nhận và sẽ liên hệ trong thời gian sớm nhất</h2>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "TrangChu")
</p>