@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<label class="btn btn-warning">
    <h1>Bạn có chắc là muốn xoá <span style="color :red; font-weight: bold">Tài Khoản</span> này khỏi danh sách không?</h1>
</label>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
 
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        |
         <div class="btn btn-outline-success" style="color: white">
             @Html.ActionLink("Back to List", "Index")
         </div>
    </div>
}
